/* ==UserStyle==
@name        YouTube Colors
@namespace   saneki
@version     1.1.13
@homepageURL https://gitlab.com/saneki/youtube-colors
@updateURL   https://gitlab.com/saneki/youtube-colors/raw/master/youtube-colors.user.css
@description Custom colors for YouTube.
@author      saneki
@license     MIT

@preprocessor uso
@var select base-color 'Base color' {
	"Custom": "/*[[custom-base-color]]*\/",
	"Blue": "#2793e6",
	"Cyan": "#46efeb",
	"Green": "#00ff00",
	"Pink": "#ff80e5",
	"Purple": "#560de3",
	"Red": "#ff0000",
	"White": "#ffffff",
}
@var color custom-base-color "Custom base color" #2793e6

@var select large-play-button-color 'Large play button color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-large-play-button-color]]*\/",
    "Original": "#f00000",
}
@var color custom-large-play-button-color "" #f00000

@var select logo-color 'Logo color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-logo-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-logo-color "" #ff0000

@var select mini-guide-entry-color 'Mini guide entry color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-mini-guide-entry-color]]*\/",
    "Original": "#cc0000",
}
@var color custom-mini-guide-entry-color "" #cc0000

@var select notify-icon-color 'Notify icon color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-notify-icon-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-notify-icon-color "" #ff0000

@var select other-video-progress-bar-color 'Other video progress color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-other-video-progress-bar-color]]*\/",
    "Original": "#e62117",
}
@var color custom-other-video-progress-bar-color "" #e62117

@var select page-navigation-progress-bar-color 'Page progress bar color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-page-navigation-progress-bar-color]]*\/",
    "Original": "#e62117",
}
@var color custom-page-navigation-progress-bar-color "" #e62117

@var select progress-bar-color 'Progress bar color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-progress-bar-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-progress-bar-color "" #ff0000

@var select quality-badge-color 'Quality badge color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-quality-badge-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-quality-badge-color "" #ff0000

@var select subscribe-button-color 'Subscribe button color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-subscribe-button-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-subscribe-button-color "" #ff0000

@var select video-options-color 'Video widget options color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-video-options-color]]*\/",
    "Original": "#ff0000",
}
@var color custom-video-options-color "" #ff0000

@var select volume-slider-color 'Volume slider color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-volume-slider-color]]*\/",
    "Original": "#ffffff",
}
@var color custom-volume-slider-color "" #ffffff

@var select autoplay-slider-color 'Autoplay slider color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-autoplay-slider-color]]*\/",
}
@var color custom-autoplay-slider-color "" #3ea6ff

@var select description-links-color 'Description links color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-description-links-color]]*\/",
}
@var color custom-description-links-color "" #3ea6ff

@var select guide-badge-color 'Guide badge color' {
    "Original": "#e62117",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-guide-badge-color]]*\/",
}
@var color custom-guide-badge-color "" #e62117

@var select guide-icon-color 'Guide icon color' {
    "Original": "#ff0000",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-guide-icon-color]]*\/",
}
@var color custom-guide-icon-color "" #ff0000

@var select like-bar-color 'Like bar color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-like-bar-color]]*\/",
}
@var color custom-like-bar-color "" #3ea6ff

@var select metadata-endpoint-color 'Metadata link color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-metadata-endpoint-color]]*\/",
}
@var color custom-metadata-endpoint-color "" #3ea6ff

@var select newness-dot-color 'Newness dot color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-newness-dot-color]]*\/",
}
@var color custom-newness-dot-color "" #3ea6ff

@var select streaming-badge-color 'Streaming badge color' {
    "Original": "#e62117",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-streaming-badge-color]]*\/",
}
@var color custom-streaming-badge-color "" #e62117

@var select thumb-icon-color 'Thumb icon color' {
    "Original": "#3ea6ff",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-thumb-icon-color]]*\/",
}
@var color custom-thumb-icon-color "" #3ea6ff
==/UserStyle== */
@-moz-document domain("youtube.com") {
    /* Progress bar and "scrubber button" (indicating position on the progress bar). */
    .html5-scrubber-button:hover,
    .ytp-scrubber-button:hover,
    .ytp-swatch-background-color,
    .ytp-swatch-background-color-secondary {
        background: /*[[progress-bar-color]]*/;
    }
    /* Volume slider. */
    .ytp-volume-slider-track,
    .ytp-volume-slider-handle:before {
        background: /*[[volume-slider-color]]*/;
        z-index: -117;
    }
    /* "HD" badge next to gear (settings) icon. */
    .ytp-settings-button.ytp-hd-quality-badge::after,
    .ytp-settings-button.ytp-4k-quality-badge::after,
    .ytp-settings-button.ytp-5k-quality-badge::after,
    .ytp-settings-button.ytp-8k-quality-badge::after,
    .ytp-settings-button.ytp-3d-badge::after {
        background-color: /*[[quality-badge-color]]*/;
    }
    /* "HD" indicator in video quality menu. */
    .ytp-swatch-color {
        color: /*[[quality-badge-color]]*/;
    }
    /* Certain selected menu items in the video settings menu, such as the "Autoplay" toggle. */
    .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
        background: /*[[video-options-color]]*/;
    }
    /* Large play button on embedded (iframe) videos. */
    .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg,
    .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg {
        fill: /*[[large-play-button-color]]*/;
    }
    /* Used for "Subtitles/Closed captions" icon when selected, possibly other things. */
    .ytp-chrome-controls .ytp-button[aria-pressed]::after {
        background-color: /*[[video-options-color]]*/;
    }
    /* YouTube Logo. */
    svg.ytd-topbar-logo-renderer > g > g:nth-of-type(1) > path {
        fill: /*[[logo-color]]*/;
    }
    /* Like bar. */
    ytd-sentiment-bar-renderer[activated_] #like-bar.ytd-sentiment-bar-renderer {
        background-color: /*[[like-bar-color]]*/;
    }
    /* Active thumb icons (up or down). */
    ytd-toggle-button-renderer.style-default-active[is-icon-button] {
        color: /*[[thumb-icon-color]]*/;
    }
    /* Progress bars on other videos. */
    #progress.ytd-thumbnail-overlay-resume-playback-renderer {
        background-color: /*[[other-video-progress-bar-color]]*/;
    }
    /* Page navigation progress bar. */
    #progress.yt-page-navigation-progress {
        background-color: /*[[page-navigation-progress-bar-color]]*/;
    }
    /* Live icon, maybe some other icons. */
    .guide-entry-badge.ytd-guide-entry-renderer {
        color: /*[[guide-badge-color]]*/;
    }
    /* Selected icons in left bar. */
    ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer {
        color: /*[[guide-icon-color]]*/;
    }
    /* Autoplay slider (outside of video) when enabled. */
    paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button {
        background-color: /*[[autoplay-slider-color]]*/;
    }
    /* YouTube "Subscribe" button on video page, when not already subscribed. */
    ytd-subscribe-button-renderer:not([button-style="COMPACT_GRAY"]) paper-button.ytd-subscribe-button-renderer:not(.style-compact-gray):not([subscribed]) {
        background-color: /*[[subscribe-button-color]]*/;
    }
    /* Homepage and channel "Subscribe" button. */
    ytd-button-renderer.style-destructive[is-paper-button] {
        background-color: /*[[subscribe-button-color]]*/;
    }
    /* Notification count icon. */
    #notification-count.ytd-notification-topbar-button-renderer {
        background-color: /*[[notify-icon-color]]*/;
    }
    /* "LIVE NOW" streaming icon next to live videos. */
    .badge-style-type-live-now.ytd-badge-supported-renderer {
        border-color: /*[[streaming-badge-color]]*/;
        color: /*[[streaming-badge-color]]*/;
    }
    /* Links in video description and comments. */
    a.yt-simple-endpoint.yt-formatted-string,
    a.yt-simple-endpoint.yt-formatted-string:hover {
        color: /*[[description-links-color]]*/;
        text-decoration-color: /*[[description-links-color]]*/;
    }
    /* Metadata links, such as the "Category" type at the bottom of a video's description. */
    ytd-metadata-row-renderer a.yt-simple-endpoint {
        color: /*[[metadata-endpoint-color]]*/
        !important;
    }
    #newness-dot.ytd-guide-entry-renderer {
        background-color: /*[[newness-dot-color]]*/;
    }
    /* "Mini guide" entries on the left of homepage when screen isn't wide. */
    ytd-mini-guide-entry-renderer[active] .guide-icon.ytd-mini-guide-entry-renderer {
        color: /*[[mini-guide-entry-color]]*/; /* var(--yt-spec-brand-icon-active) => #ff0000 */
    }
    /* "Mini guide" entry title. */
    ytd-mini-guide-entry-renderer[active] .title.ytd-mini-guide-entry-renderer {
        color: /*[[mini-guide-entry-color]]*/; /* var(--yt-spec-selected-nav-text) => #cc0000 */
    }
}
