/* ==UserStyle==
@name        YouTube Colors
@namespace   saneki
@version     1.1.13
@homepageURL https://gitlab.com/saneki/youtube-colors
@updateURL   https://gitlab.com/saneki/youtube-colors/raw/master/youtube-colors.user.css
@description Custom colors for YouTube.
@author      saneki
@license     MIT

@preprocessor uso
@var select base-color 'Base color' {
	"Custom": "/*[[custom-base-color]]*\/",
{%- for color in base.colors %}
	"{{ color.name|capitalize }}": "{{ color.color }}",
{%- endfor %}
}
@var color custom-base-color "Custom base color" {{ base.custom }}

{#- Generate colors which default to the base color first #}
{% for color in colors|sort(attribute='name') if color.default == 'base' %}
@var select {{ color.name }}-color '{{ color.description|capitalize }} color' {
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-{{ color.name }}-color]]*\/",
    "Original": "{{ color.original }}",
}
@var color custom-{{ color.name }}-color "" {{ color.original }}
{% endfor %}

{#- Generate colors which default to the original color last #}
{%- for color in colors|sort(attribute='name') if color.default == 'original' %}
@var select {{ color.name }}-color '{{ color.description|capitalize }} color' {
    "Original": "{{ color.original }}",
    "Base": "/*[[base-color]]*\/",
    "Custom": "/*[[custom-{{ color.name }}-color]]*\/",
}
@var color custom-{{ color.name }}-color "" {{ color.original }}
{% endfor -%}
==/UserStyle== */
@-moz-document domain("youtube.com") {
    /* Progress bar and "scrubber button" (indicating position on the progress bar). */
    .html5-scrubber-button:hover,
    .ytp-scrubber-button:hover,
    .ytp-swatch-background-color,
    .ytp-swatch-background-color-secondary {
        background: /*[[progress-bar-color]]*/;
    }
    /* Volume slider. */
    .ytp-volume-slider-track,
    .ytp-volume-slider-handle:before {
        background: /*[[volume-slider-color]]*/;
        z-index: -117;
    }
    /* "HD" badge next to gear (settings) icon. */
    .ytp-settings-button.ytp-hd-quality-badge::after,
    .ytp-settings-button.ytp-4k-quality-badge::after,
    .ytp-settings-button.ytp-5k-quality-badge::after,
    .ytp-settings-button.ytp-8k-quality-badge::after,
    .ytp-settings-button.ytp-3d-badge::after {
        background-color: /*[[quality-badge-color]]*/;
    }
    /* "HD" indicator in video quality menu. */
    .ytp-swatch-color {
        color: /*[[quality-badge-color]]*/;
    }
    /* Certain selected menu items in the video settings menu, such as the "Autoplay" toggle. */
    .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
        background: /*[[video-options-color]]*/;
    }
    /* Large play button on embedded (iframe) videos. */
    .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg,
    .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg {
        fill: /*[[large-play-button-color]]*/;
    }
    /* Used for "Subtitles/Closed captions" icon when selected, possibly other things. */
    .ytp-chrome-controls .ytp-button[aria-pressed]::after {
        background-color: /*[[video-options-color]]*/;
    }
    /* YouTube Logo. */
    svg.ytd-topbar-logo-renderer > g > g:nth-of-type(1) > path {
        fill: /*[[logo-color]]*/;
    }
    /* Like bar. */
    ytd-sentiment-bar-renderer[activated_] #like-bar.ytd-sentiment-bar-renderer {
        background-color: /*[[like-bar-color]]*/;
    }
    /* Active thumb icons (up or down). */
    ytd-toggle-button-renderer.style-default-active[is-icon-button] {
        color: /*[[thumb-icon-color]]*/;
    }
    /* Progress bars on other videos. */
    #progress.ytd-thumbnail-overlay-resume-playback-renderer {
        background-color: /*[[other-video-progress-bar-color]]*/;
    }
    /* Page navigation progress bar. */
    #progress.yt-page-navigation-progress {
        background-color: /*[[page-navigation-progress-bar-color]]*/;
    }
    /* Live icon, maybe some other icons. */
    .guide-entry-badge.ytd-guide-entry-renderer {
        color: /*[[guide-badge-color]]*/;
    }
    /* Selected icons in left bar. */
    ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer {
        color: /*[[guide-icon-color]]*/;
    }
    /* Autoplay slider (outside of video) when enabled. */
    paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button {
        background-color: /*[[autoplay-slider-color]]*/;
    }
    /* YouTube "Subscribe" button on video page, when not already subscribed. */
    ytd-subscribe-button-renderer:not([button-style="COMPACT_GRAY"]) paper-button.ytd-subscribe-button-renderer:not(.style-compact-gray):not([subscribed]) {
        background-color: /*[[subscribe-button-color]]*/;
    }
    /* Homepage and channel "Subscribe" button. */
    ytd-button-renderer.style-destructive[is-paper-button] {
        background-color: /*[[subscribe-button-color]]*/;
    }
    /* Notification count icon. */
    #notification-count.ytd-notification-topbar-button-renderer {
        background-color: /*[[notify-icon-color]]*/;
    }
    /* "LIVE NOW" streaming icon next to live videos. */
    .badge-style-type-live-now.ytd-badge-supported-renderer {
        border-color: /*[[streaming-badge-color]]*/;
        color: /*[[streaming-badge-color]]*/;
    }
    /* Links in video description and comments. */
    a.yt-simple-endpoint.yt-formatted-string,
    a.yt-simple-endpoint.yt-formatted-string:hover {
        color: /*[[description-links-color]]*/;
        text-decoration-color: /*[[description-links-color]]*/;
    }
    /* Metadata links, such as the "Category" type at the bottom of a video's description. */
    ytd-metadata-row-renderer a.yt-simple-endpoint {
        color: /*[[metadata-endpoint-color]]*/
        !important;
    }
    #newness-dot.ytd-guide-entry-renderer {
        background-color: /*[[newness-dot-color]]*/;
    }
    /* "Mini guide" entries on the left of homepage when screen isn't wide. */
    ytd-mini-guide-entry-renderer[active] .guide-icon.ytd-mini-guide-entry-renderer {
        color: /*[[mini-guide-entry-color]]*/; /* var(--yt-spec-brand-icon-active) => #ff0000 */
    }
    /* "Mini guide" entry title. */
    ytd-mini-guide-entry-renderer[active] .title.ytd-mini-guide-entry-renderer {
        color: /*[[mini-guide-entry-color]]*/; /* var(--yt-spec-selected-nav-text) => #cc0000 */
    }
}
